body {
  text-align: center;
  background-color: #011F3F;
  zoom: 67%;
}
.button {
	background-color:#44c767;
	border-radius:25px;
	border:4px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button:hover {
	background-color:#5cbf2a;
}
.button:active {
	position:relative;
	top:1px;
}


#title {
  font-family: 'Oswald', sans-serif;
  font-size: 90px;
  color: red;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 31px;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.footerclass {
  font-family: Apple Chancery, cursive;
  color: white;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: orange;
}
div {
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;  
}
